:root {
  --primary: #c9c9c9;
  --white: #ffffff;
  --secondary: rgb(198, 218, 221);
  --text: #040505;
  --correct: #1e8a03d8;
  --wrong: #8d2828dc;
}

body {
   
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: var(--primary);
}

.timer-text {
    display: flex;
    justify-content: flex-end;
}

.container {
  display: block;
  margin: 60px auto;
  text-align: center;
  font-size: 30px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.541);
  transition: 0.3s;
  width: 80vw;
  background-color: var(--white);
  padding: 15px;
  border-radius: 5px;
}

.instructions-text {
    margin: 20px;
}

.main-secondary-text {
    font-size: 15px;
    margin-top: 10px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    background: var(--secondary);
    padding: 5px 10px;
    border: 1px solid var(--secondary);
    border-radius: 5px;
    outline: none;
    font-weight: bolder;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.541);
}

.btn:hover {
    border-color: var(--text);
}

.btn.correct {
    background-color: var(--correct);
    color: var(--white);
}

.btn.wrong {
    background-color: var(--wrong);
    color: var(--white);

}

.control-btn {
    background: radial-gradient(circle, rgb(198, 218, 221) 0%, rgba(143, 141, 139, 0.954) 100%);
    border-radius: 8px;
    color: var(--text);
    cursor: pointer;
    font-size: 30px;
    letter-spacing: 0.21px;
    line-height: 16px;
    /* max-width: 255px; */
    padding: 15px 40px;
    text-align: center;
    transition-duration: 0.15s;
    transition-property: background-color;
    transition-timing-function: linear;
    margin-top: 0.6em;
}

.hide {
    display: none;
}

