:root {
  --primary: #545F66;
  --white: #829399;
  --secondary: rgb(198, 218, 221);
  --text: #ffffffce;
  --correct: #B1CC74;
  --wrong: #8d2828dc;
}

body {
   
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: var(--primary);
}
header {
    display:flex;
    justify-content: space-between;
    color: var(--text)
}


.container {
  display: block;
  margin: 60px auto;
  text-align: center;
  font-size: 30px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  transition: 0.3s;
  width: 80vw;
  background-color: var(--white);
  padding: 15px;
  border-radius: 5px;
}

.instructions-text {
    margin: 20px;
}

.main-secondary-text {
    font-size: 15px;
    margin-top: 10px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    background: var(--secondary);
    padding: 5px 10px;
    border: 1px solid var(--secondary);
    border-radius: 5px;
    outline: none;
    font-weight: bolder;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.btn:hover {
    border-color: var(--text);
}

.btn.correct {
    background-color: var(--correct);
    color: #000000;
}

.btn.wrong {
    background-color: var(--wrong);
    color: var(--text);

}

.control-btn {
    background: radial-gradient(circle, rgb(198, 218, 221) 0%, rgba(143, 141, 139, 0.954) 100%);
    border-radius: 8px;
    color: #000000;
    cursor: pointer;
    font-size: 30px;
    letter-spacing: 0.21px;
    line-height: 16px;
    /* max-width: 255px; */
    padding: 15px 40px;
    text-align: center;
    transition-duration: 0.15s;
    transition-property: background-color;
    transition-timing-function: linear;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

#enter-score-text {
    font-size: 22px;
    margin-top: 0.5em;
}

.hide {
    display: none;
}

